<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>CLOUD_AWS</name>
  <description>nodo aws</description>
  <remoteFS>/home/jenkins</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.814.vc82988f54b_10">
    <host>54.221.83.236</host>
    <port>22</port>
    <credentialsId>aws_privateKey</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>CLOUD_AWS</label>
  <nodeProperties/>
</slave>