<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1167.v8fe861b_09ef9">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2064.v5eef7d0982b_e"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2064.v5eef7d0982b_e">
      <jobProperties/>
      <triggers/>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@3.0.0">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <com.synopsys.arc.jenkinsci.plugins.jobrestrictions.jobs.JobRestrictionProperty plugin="job-restrictions@0.8"/>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2659.v52d3de6044d0">
    <script>import groovy.transform.Field
import java.io.*;

@Field def ipNexus = &apos;http://192.168.1.110:8081&apos;
@Field def credentials = &apos;nexusAdmin&apos;
@Field def groupId = &apos;weblogic&apos;
@Field def artifactId = &apos;war&apos;
@Field def defaultRepository = &apos;jenkins-releases&apos;
@Field def ext = &apos;war&apos;
@Field def version
@Field def file

pipeline {
    agent any
    stages {
        stage(&apos;deploy&apos;) {
            steps {
                script{
                    cleanWs()
                    file = &quot;app1&quot;
                    version = &quot;app1&quot;
                    downloadNexus()
                    echo &apos;Desplegando aplicacion&apos;
                    deploy()
                }
            }
        }
    }
    post { 
        always { 
            emailext body: &apos;Que se hice perrito&apos;, subject: &apos;Prueba desde jenkins&apos;, to: &apos;hermann.galvis@gmail.com&apos;
        }
    }
}
def downloadNexus(){
    withCredentials([usernamePassword(credentialsId: credentials, passwordVariable: &apos;PASS&apos;, usernameVariable:&apos;USERNAME&apos;)]){
        sh&quot;curl -X GET -u ${USERNAME}:${PASS} ${ipNexus}/repository/${defaultRepository}/${groupId}/${artifactId}/${version}/${artifactId}-${file}.${ext} -O&quot;
    }  
}
def deploy(){
    sh&quot;&quot;&quot;
        java weblogic.Deployer -adminurl localhost:7001 -username weblogic -password galvis0425 -deploy -source ${file} -targets server1,server2
    &quot;&quot;&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>