<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1182.v60a_e6279b_579">
  <actions>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobAction plugin="pipeline-model-definition@2.2086.v12b_420f036e5"/>
    <org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction plugin="pipeline-model-definition@2.2086.v12b_420f036e5">
      <jobProperties/>
      <triggers>
        <string>hudson.triggers.TimerTrigger</string>
      </triggers>
      <parameters/>
      <options/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.actions.DeclarativeJobPropertyTrackerAction>
  </actions>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <hudson.triggers.TimerTrigger>
          <spec>H H 1,15 1-11 *</spec>
        </hudson.triggers.TimerTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2706.v71dd22b_c5a_a_2">
    <script>import groovy.transform.Field
import java.text.SimpleDateFormat;

@Field def folders=[&quot;jobs&quot;,&quot;nodes&quot;,&quot;plugins&quot;,&quot;users&quot;]
@Field def yellow = &quot;43&quot;; @Field def green = &quot;42&quot;; @Field def red = &apos;41&apos;; @Field def blue = &apos;46&apos;
@Field def date = new Date()

pipeline {
    agent{
        label &apos;ubuntu&apos;
    }
    triggers{ cron(&apos;H H 1,15 1-11 *&apos;) }
    stages{
        stage(&apos;respaldo&apos;) {
            steps{
                script{
                    printm(&quot;Se respaldaran las carpetas JOBS NODES PLUGINS USER&quot;,blue)
                    dir(&apos;/home/jenkins/respaldos&apos;){
                        sh&quot;rm -rf *&quot;
                        for(folder in folders){
                            sh&quot;&quot;&quot;
                                docker cp hidraxos:/var/jenkins_home/${folder}/ ./${folder}/
                            &quot;&quot;&quot;
                        }
                        sh&quot;&quot;&quot;
                            git add .
                            git commit -am &apos;respaldo ${date}&apos;
                            git push -u origin master
                        &quot;&quot;&quot;
                    }
                }
            }
        }
    }
}


def printm(message, color){
    
	def	sdf = new SimpleDateFormat(&quot;M/d/yyyy HH:mm:ss&quot;)
    println &quot;\033[${color}m************ ${message} ************ ${sdf.format(date)}\033[0m&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>