<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1186.v8def1a_5f3944">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2725.v7b_c717eb_12ce">
    <script>import groovy.transform.Field
import java.text.SimpleDateFormat;
import groovy.json.JsonSlurper
import java.io.IOException;
import java.util.Arrays;
import java.util.ArrayList;
import java.util.Collections;
import java.util.Iterator;
import java.util.List;
import java.io.File; 

node(&apos;ubuntu&apos;){
    stage(&apos;Print AnsiColor&apos;){
        ansiColor(&apos;xterm&apos;){
            colorMessage(&quot;41&quot;, &quot;41&quot;)
            colorMessage(&quot;42&quot;, &quot;42&quot;)
            colorMessage(&quot;43&quot;, &quot;43&quot;)
            colorMessage(&quot;44&quot;, &quot;44&quot;)
            colorMessage(&quot;45&quot;, &quot;45&quot;)
            colorMessage(&quot;46&quot;, &quot;46&quot;)
            colorMessage(&quot;47&quot;, &quot;47&quot;)
        }

    }
}
def colorMessage(message, color){
    def date = new Date()
	def	sdf = new SimpleDateFormat(&quot;M/d/yyyy HH:mm:ss&quot;)
    
        println &quot;\033[${color}m************ ${message} ************ ${sdf.format(date)}\033[0m&quot;
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>